<div class="login-box col-3 offset-4 mt-4">
    <div class="login-logo">
      <a href="#"><img class="img-fluid" src="../../../assets/images/solution_header.jpg"></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Here You Can Login?</p>
        <form action="" method="post">
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="identity" id="identity" placeholder="UserId" value="">
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="fa fa-user" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <span id="identity_error" style="display:none;"></span>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <!--<div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>-->
            <div class="col-8">
              <p id="forgorpass">Forgot password</p>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Log In</button>
            </div>
            <!-- /.col -->
          </div>
        </form>      
      </div>